@import "vars", "header", "main-section", "aboutUs", "footer";

html,
body {
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px;
  background-color: #313131;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
.limiter {
  max-width: 1030px;
  margin: 0 85px;

}
.container {
   max-width: 960px;
   border-top: 5px solid $main;
   margin: 0 20px 0 50px;
}